#section2 {
    height: 700px;
    background-color: #19181A;
  }

  .center2 {
    
    padding: 100px 70px;
  }

  * {
    box-sizing: border-box;
  }
  
  
  .container {
    float: left;
    padding:10px;
    
  }
  
  .left {
    width: 40%;
    height: 600px;
    text-align: center;
    
  }

  
  
  .right {
    width: 60%;
    height: 600px;
    text-align:center;
    color:white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .image img {
    width: 40%;
    height:200px;
    margin-left:110px;
    margin-right:110px;
    
    
  }


  p {
    text-align: left;
  }

  .scroll {
    
    padding-right: 16px;
    background-color: white;
    width: 70%;
    border-radius: 10px;
    
  }
  .scroll .fill {
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
    padding:0;
    
  }



  .button {
    padding: 17px 25px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:  rgba(28,31,36,0.93);;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #19181A;
    align-items: left;
    
    
  }
  
  .button:hover {background-color: black;}
  
  .button:active {
    transform: translateY(4px);
  }

  @media screen and (max-width: 640px) {
     .left {
      width: 100%;
    }
  }
  @media screen and (max-width: 640px) {
     .right {
      width: 100%;
    }
  }
    
  

  
