


  
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
   
  }
  
  .sidebar .type a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    
    color: white;
    transition: 0.3s;
  }
  
  .column1 .type  a:hover {
    color: #08193b;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }




 * {
    box-sizing:border-box;
    }
    
    .column1 {
      float: left;
      width: 75%;
      padding: 10px;
       height: 700px;
    }

    .column2 {
        float: left;
        width: 25%;
        padding: 10px;
         height: 700px;
    }
      
    
    
    .row:after {
      content: "";
      display: table;
      clear: both;
      height:100%;
    }


    .column1 .type {
      color: white;
      padding: 50px;
      font-size: 17px;
      font-family: 'Stolzl Bold';
      
      font-weight: bold;
    }

    .column1 .type a{
      color: white;
      padding: 50px;
      font-size: 27px;
      font-family: 'Stolzl Bold';
      
      font-weight: bold;
    }

    .column2 .type {
      color: black;
      padding-top: 50px;
      font-size: 20px;
      font-family: 'Stolzl Bold';
      align-items: center;
      text-align: center;
      font-weight: bold;
    }




    .column2 .type .fa {
      padding: 20px;
  font-size: 20px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.column2 .type .fab.fa-hackerrank {
  padding: 20px;
font-size: 20px;
width: 55px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}
    
    
    .column2 .type .fa:hover {
        opacity: 0.7;
    }
    
    .column2 .type .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    
    .column2 .type .fa-github {
      background: black;
      color: white;
    }
    
    .column2 .type .fa-hackerrank {
      background: #2DC364;
      color: white;
    }

    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }