html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  ul.nav li.right, 
  ul.nav li {float: none;}
}
  
  #section1 {
    height: 700px;
      animation: colorchange 20s infinite;
    
  }

  .center1 {
    
    padding: 100px 70px;
  }

  #section1 .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  #section1 .nav ul li {
    float: left;
    font-weight: bold;
  }
  
  #section1 .nav ul li a {
    font-family: "Stolzl Bold";
    float: left;
    display: block;
    color:#092545;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  #mySidenav a {
    position:absolute;
    right: -5px;
    transition: 0.3s;
    padding: 15px;
    width: 50px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    border-radius: 5px 0 0 5px;
  }
  
  #mySidenav a:hover {
    right: 0;
    text-decoration: none;
    
  }
  
  #mySidenav .fa-hackerrank {
    top:66%;
    background:#2DC364;
    color: white;
  }
  
  #mySidenav .fa-linkedin {
    top:50%;
    background: #007bb5;
    color: white;
  }
  
  #mySidenav .fa-github {
    top:58%;
    background: black;
    color: white;
  }
  
  .type {
    color: #092545;
    font-size: 33px;
    font-family: 'Stolzl Bold';
    line-height: 50px;
    font-weight: bold;
  }

  .intro {
    font-family: Cerebri,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    letter-spacing: -.018rem;
}







.intro h1 .text{
	
	display: flex;
	align-items: center;
	justify-content: left;
	
	background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}

.text {
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}




 h1 .text1{
	
	display: flex;
	align-items: center;
	justify-content: left;
  
	
	background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}

.text1 {
	background: linear-gradient(to bottom, #f15b74, #ff6021);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 50px;
	
}



.button {
  padding: 15px 25px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2d6ae3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  
  
}

.button:hover {background-color: #2d6ae3;}

.button:active {
  transform: translateY(4px);
}
  


a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2d6ae3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}




a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
  
 
  
  

  
  

  @keyframes colorchange {
    0% {
      background: #E4E6F4;
    }
    25% {
      background: #F8E2C7;
    }
    50% {
      background: #EEE5F6;
    }
    75% {
      background: #F8E2C7;
    }
    100% {
      background: #D4E8F0;
    }
  }
  .nav{
    overflow: hidden;
  }

  @media screen and (max-width: 600px) {
    .center1 {padding:0px;}
    .nav ul li a { font-size:14px;}
    #mySidenav a{font-size: 11px;}
    .type{}
    
  }
